apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: "{{ .Release.Namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: frontend
          image: "{{ .Values.image.frontend.repository }}:{{ .Values.image.frontend.tag }}"
          imagePullPolicy: { { .Values.image.frontend.pullPolicy } }
          command: ["node"]
          args: ["server.js"]
          ports:
            - containerPort: { { .Values.image.frontend.port } }
          env:
            - name: APP_VERSION
              value: "{{ .Chart.version }}"
